body, html {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
    padding: 10px 20px;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
    color: #fff;
}

.header__logo {
    font-size: 1.5em;
    color: white;
}

.header__btnGrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.header__button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 16px;
}
.header__button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header__button--submit {
    background-color: orange;
}
.header__button--signin {
    background-color:green;
    color: #fff;
}

/* GENERAL */
.mainContainer {
    margin: auto;
}

/* SEARCH */
.search__wrapper {
    position: relative;
    display: inline-block;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: #E8EAF6;
}

.search__title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.search__input {
    padding: 10px 60px 10px 20px;
    font-size: 1.2em;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 20px;
}

.search__searchIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #999;
}

/* FAQ */
.faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 80px auto;
}

.faq__list {
    display: flex;
    gap: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: left;
    min-height: 8rem;
}

.faq__list-item-image {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.faq__card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 0;
}

.faq__card-text {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
}

.faq__card-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}

/* FOOTER */
.footer {
    background: linear-gradient(90deg, #182848 0%, #3c00bc 100%);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__column {
    flex-grow: 1;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.footer__title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer__link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
}