body, html {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
    padding: 10px 20px;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
    color: #fff;
}

.header__logo {
    color: white;
}

@media screen and (min-width: 385px) {
    .header__logo {
        margin-top: 20px;
    }
}

.header__btnGrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.header__button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}
.header__button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header__button--submit {
    background-color: orange;
}
.header__button--signin {
    background-color:green;
    color: #fff;
}

/* GENERAL */
.mainContainer {
    margin: auto;
}

/* SEARCH */
.search__wrapper {
    position: relative;
    max-width: 375px;
    width: 100%;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: #E8EAF6;
}

.search__title {
    text-align: center;
    margin-bottom: 10px;
}

.search__input {
    padding: 8px 30px 8px 8px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid lightgray;
}

.search__searchIcon {
    position: absolute;
    top: 5px;   
    right: 10px;
}

/* FAQ */
.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    max-width: 1200px;
    margin: 80px auto;
}
.faq__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.faq__list-item {
    min-height: 8rem;
    border-radius: 5px;
    gap: 2rem;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    list-style-type: none;
}

/* FOOTER */
.footer {
    padding: 20px;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
}

.footer__colum {
    flex-grow: 1;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}